@page "/DataCatalog-ObjectSchemas"

<PageTitle>Data Catalog - Object Schemas</PageTitle>

<h1>Data Catalog - Object Schemas</h1>

<div class="form-group">
    <label>Object Schemas</label>
    <div>
        <MultipleSelector></MultipleSelector>
    </div>
</div>

@code 
{

}
